{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="HowToCryptoCurrecnies">
    <meta name="description" content="Free reviews and guides of how to do all things Crypo Currency">
    <meta name="keywords" content="Bitcoin, Crpyto Currency, Crypto Currencies, Crpyto Trading, Alt Currency, Alt Coins, Digital Money">
    <meta name="title" content="HowToCryptoCurrecnies">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>HowToCryptoCurrencies</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3-center-centered"><font color=#F0FFFF>Books on Crypto Currencies and Trading</font></h1>
              
              <p class="lead"><font color=#F0FFFF>Here are some of the best trading books on both crypto currencies and other markets.</font></p>
              

            </div>
          </div>

          <div class="text-center">
            <a target="_blank" href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=4SRRENHRJE">
              <img src="https://www.bitbond.com/affiliate-program/invest-leaderboard-en.png" class="img-thumbnail"
                   alt="bitbond bitcoin lending" />
            </a>
        </div>
        <br>

          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">HowToCryptoCurrencies</a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="books">Trading Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mining">Mining Crypto</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="charting">Charting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lending">Lending</a>
                </li>
              </ul>
            </div>
          </nav>

          <br>


        <div class="container">

          <div class='top_card'>
            <div class="card mb-4">
                <div class="card-block">
                    <div class="text-center">
                    <a target="_blank"  href="https://www.amazon.com/gp/product/1537000454/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1537000454&linkCode=as2&tag=funnywebsites-20&linkId=209784eee37d8e3657db3299d62f4848"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1537000454&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=1537000454" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
            <h4 class="card-title-center-centered">The Internet of Money by: Andreas M. Antonopoulos</h4>
            <p class="card-text">While many books explain the how of bitcoin, The Internet of Money delves into the why of bitcoin. Acclaimed information-security expert and author of Mastering Bitcoin, Andreas M. Antonopoulos examines and contextualizes the significance of bitcoin through a series of essays spanning the exhilarating maturation of this technology.</p>
            <p class='card-text'>Bitcoin, a technological breakthrough quietly introduced to the world in 2008, is transforming much more than finance. Bitcoin is disrupting antiquated industries to bring financial independence to billions worldwide. In this book, Andreas explains why bitcoin is a financial and technological evolution with potential far exceeding the label "digital currency."</p>
            <p class='card-text'>Andreas goes beyond exploring the technical functioning of the bitcoin network by illuminating bitcoin's philosophical, social, and historical implications. As the internet has essentially transformed how people around the world interact and has permanently impacted our lives in ways we never could have imagined, bitcoin--the internet of money--is fundamentally changing our approach to solving social, political, and economic problems through decentralized technology.</p>
            
            
            </div>
            </div>
            </div>

            <div class="card mb-4">
                <div class="card-block">
                    <div class="text-center">
                    <a target="_blank"  href="https://www.amazon.com/gp/product/1491954388/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1491954388&linkCode=as2&tag=funnywebsites-20&linkId=eca52126066a5bd79b9d97a3ed54e867"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1491954388&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=1491954388" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
            <h4 class="card-title-center-centered">Mastering Bitcoin: Programing the Open Blockchain by: Andreas M. Antonopoulos</h4>
            <p class="card-text">Join the technological revolution that's taking the world of finance by storm. Mastering Bitcoin is your guide through the seemingly complex world of bitcoin, providing the knowledge you need to participate in the internet of money. Whether you're building the next killer app, investing in a startup, or simply curious about the technology, this revised and expanded second edition provides essential detail to get you started.
                Bitcoin, the first successful decentralized digital currency, is still in its early stages and yet it's already spawned a multi-billion dollar global economy. This economy is open to anyone with the knowledge and passion to participate. Mastering Bitcoin provides the knowledge. You simply supply the passion.</p>
            
            
            </div>
            </div>

            <div class="card mb-4">
                <div class="card-block">
                    <div class="text-center">
                    <a target="_blank"  href="https://www.amazon.com/gp/product/006236250X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=006236250X&linkCode=as2&tag=funnywebsites-20&linkId=2a346858b54899fc73c37a267ac4a6a1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=006236250X&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=006236250X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
            <h4 class="card-title-center-centered">Digital Gold: Bitcoin and the Inside Story of the Misfits and Millionaires Trying to Reinvent Money by: Nathaniel Popper</h4>
            <p class="card-text">A New York Times technology and business reporter charts the dramatic rise of Bitcoin and the fascinating personalities who are striving to create a new global money for the Internet age.</p>
            <p class="card-text">Digital Gold is New York Times reporter Nathaniel Popper’s brilliant and engrossing history of Bitcoin, the landmark digital money and financial technology that has spawned a global social movement.</p>
            <p class="card-text">The notion of a new currency, maintained by the computers of users around the world, has been the butt of many jokes, but that has not stopped it from growing into a technology worth billions of dollars, supported by the hordes of followers who have come to view it as the most important new idea since the creation of the Internet. Believers from Beijing to Buenos Aires see the potential for a financial system free from banks and governments. More than just a tech industry fad, Bitcoin has threatened to decentralize some of society’s most basic institutions.</p>
            <p class="card-text">An unusual tale of group invention, Digital Gold charts the rise of the Bitcoin technology through the eyes of the movement’s colorful central characters, including an Argentinian millionaire, a Chinese entrepreneur, Tyler and Cameron Winklevoss, and Bitcoin’s elusive creator, Satoshi Nakamoto. Already, Bitcoin has led to untold riches for some, and prison terms for others.</p>
            
            </div>
            </div>


          <div class="card mb-4">
              <div class="card-block">
                  <div class="text-center">
                  <a target="_blank"  href="https://www.amazon.com/gp/product/0471668265/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0471668265&linkCode=as2&tag=funnywebsites-20&linkId=5770af61f39e25fa131ba47e4d9b797b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=0471668265&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=0471668265" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                </div>
          <h4 class="card-title-center-centered">Encyclopedia of Chart Patterns by: Thomas N. Bulkowski</h4>
          <p class="card-text">In this revised and expanded second edition of the bestselling Encyclopedia of Chart Patterns, Thomas Bulkowski updates the classic with new performance statistics for both bull and bear markets and 23 new patterns, including a second section devoted to ten event patterns. Bulkowski tells you how to trade the significant events -- such as quarterly earnings announcements, retail sales, stock upgrades and downgrades -- that shape today?s trading and uses statistics to back up his approach. This comprehensive new edition is a must-have reference if you're a technical investor or trader. Place your order today.</p>
          <p class="card-text">"The most complete reference to chart patterns available. It goes where no one has gone before. Bulkowski gives hard data on how good and bad the patterns are. A must-read for anyone that's ever looked at a chart and wondered what was happening." <br>
              -- Larry Williams, trader and author of Long-Term Secrets to Short-Term Trading</p>
          </div>
          </div>

          <div class="card mb-4">
              <div class="card-block">
                  <div class="text-center">
                  <a target="_blank"  href="https://www.amazon.com/gp/product/0471770884/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0471770884&linkCode=as2&tag=funnywebsites-20&linkId=774ec2ef8fac0c0d5e37c8225fb3c5ca"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=0471770884&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=0471770884" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                  </div>
          <h4 class="card-title-center-centered">Reminiscences of a Stock Operator by: Edwin Lefèvre</h4>
          <p class="card-text">First published in 1923, Reminiscences of a Stock Operator is the most widely read, highly recommended investment book ever. Generations of readers have found that it has more to teach them about markets and people than years of experience. This is a timeless tale that will enrich your life—and your portfolio.</p>
          <p class='card-text'>Born in 1877, Jesse Livermore is one of the greatest traders that few people know about. While a book on his life written by Edwin Lefèvre, "Reminiscences of a Stock Operator" (1923), is highly regarded as a must-read for all traders, it deserves more than a passing recommendation. Livermore, who is the author of "How to Trade in Stocks"(1940), was one of the greatest traders of all time. At his peak in 1929, Jesse Livermore was worth $100 million, which in today's dollars roughly equates to $1.5-13 billion, depending on the index used.</p>
          <p class='card-text'>The enormity of his success becomes even more staggering when considering that he traded on his own, using his own funds, his own system, and not trading anyone else's capital in conjunction. There is no question that times have changed since Mr. Livermore traded stocks and commodities. Markets were thinly traded, compared to today, and the moves volatile. Jesse speaks of sliding major stocks multiple points with the purchase or sale of 1,000 shares. And yet, despite the difference in the markets, such automation increased liquidity, technology, regulation and a host of other factors that still drive the markets today.</p>
          
          </div>
          </div>

          <div class="card mb-4">
              <div class="card-block">
                  <div class="text-center">
                  <a target="_blank"  href="https://www.amazon.com/gp/product/1118273052/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1118273052&linkCode=as2&tag=funnywebsites-20&linkId=cad0debf67bd8e61a06d7fd19e4359ad"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1118273052&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=funnywebsites-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=funnywebsites-20&l=am2&o=1&a=1118273052" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                  </div>
          <h4 class="card-title-center-centered">Market Wizards, Updated: Interviews With Top Traders by: Jack Schwager</h4>
          <p class="card-text">What separates the world's top traders from the vast majority of unsuccessful investors? Jack Schwager sets out to answer tis question in his interviews with superstar money-makers including Bruce Kovner, Richard Dennis, Paul Tudor Jones, Michel Steinhardt, Ed Seykota, Marty Schwartz, Tom Baldwin, and more in Market Wizards: Interviews with Top Traders, now in paperback and ebook.</p>
          <p class='card-text'>This classic interview-style investment text from a financial expert is a must-read for traders and professional financiers alike, as well as anyone interested in gaining insight into how the world of finance really works.</p>
          <p class='card-text'>Filled with anecdotes about market experiences, including the story of a trader who after wiping out several times, turned $30,000 into $80 million and an electrical engineer from MIT whose computerized trading has earned returns of 250,000 percent over sixteen years</p>
          
          </div>
          </div>

          </div>
          
          <script type="text/javascript">
            amzn_assoc_ad_type = "link_enhancement_widget";
            amzn_assoc_tracking_id = "funnywebsites-20";
            amzn_assoc_linkid = "d24519268dbfccc1a369229e6a2c10c5";
            amzn_assoc_placement = "";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
        </script>
        <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

        <div class="footer">
          <h5> Have a question or a comment contact us at:</h5>
          <h5><a href="mailto:info@howtocryptocurrencies.com">info@howtocryptocurrencies.com</a></h5>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>

