{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>HowToCryptoCurrencies</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3-center-centered"><font color=#F0FFFF>Charting</font></h1>
              <p class="lead"><font color=#F0FFFF>Having access to quality charts is key for any one involved with trading Crypto Currencies.</font></p>
              
            </div>
          </div>

                    
          <div class="text-center">
              <a target="_blank" href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=4SRRENHRJE">
                <img src="https://www.bitbond.com/affiliate-program/invest-leaderboard-en.png" class="img-thumbnail"
                     alt="bitbond bitcoin lending" />
              </a>
          </div>
          <br>


          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">HowToCryptoCurrencies</a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="books">Trading Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mining">Mining Crypto</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="charting">Charting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lending">Lending</a>
                </li>
              </ul>
            </div>
          </nav>

          <br>

        <div class="container">
            <div class="w-100 hidden-sm-down hidden-lg-up"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
              <div class="card-block">

                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/D2zAvOQipxU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
          


                    <br>

                    <p>Below is a screen shot of the a Tradingview chart. There is a widget for the site and its charts which can be embedded in a website but to truley do Tradingview justice it is best for you to go to their website for yourself. Tradingview can be used for free or you can purchase premium plan. </p>
        
                    <br>

            <div class="text-center">
                <img src="static/img/tradingview_neo_screen_shot.png" alt="Tradingview Chart" class="img-thumbnail"><br>
            </div>



            <br>

            <p>You can use Tradingview for free without paying. You will have to deal with ads in the corner of your screen and some markets might not show prices up to the second but thats a minnor price to pay for what you get. It will ask you to sign up and create an account but there is no requirement to pay.</p>

            <br>


            <div class="text-center">

                <a href="https://tradingview.go2cloud.org/aff_c?offer_id=2&aff_id=9166" target="blank"> Click Here to check out Tradingview</a>

            
          
          </div>
        </div>
        </div>
      </div>

      <div class="footer">
        <h5> Have a question or a comment contact us at:</h5>
        <h5><a href="mailto:info@howtocryptocurrencies.com">info@howtocryptocurrencies.com</a></h5>
      </div>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>

