{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    
    <title>HowToCryptoCurrencies</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3-center-centered"><font color=#F0FFFF>Lending</font></h1>              
              <p class="lead"><font color=#F0FFFF>BitBond is an online platform making it possible to both lend money to others and borrow money from others. All transactions are made in bitcoins.</font></p>
            </div>
          </div>

 
          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">HowToCryptoCurrencies</a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="books">Trading Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mining">Mining Crypto</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="charting">Charting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lending">Lending</a>
                </li>
              </ul>
            </div>
          </nav>

          <br>


  

          

        <div class="container">
          <div class="bitbond">
            <div class="w-100 hidden-sm-down hidden-lg-up"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
              <div class="card-block">
          <h4 class="card-title-center-centered">Bitbond a peer-to-peer lending and borrowing site</h4>

          <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-G-41lw7QCg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          <br>

          <p>While working as a consultant, Founder and CEO Radoslav Albrecht witnessed the inefficiencies prevalent in bank lending processes, which led him to develop a global online lending platform that can be accessed by almost every SME around the world.

              While brainstorming the idea for his startup, he came across the problem of processing cross-border payments and realized traditional remittance methods are extremely expensive and time-consuming. He stumbled upon Bitcoin and realized it is the perfect alternative for transmitting money across borders in an efficient, cheaper, and safer way.
              
              In 2013, he partnered with a software developer from Berlin to launch Bitbond, but they soon parted ways and Albrecht became the sole owner of Bitbond.</p>
          <br>

          <div class="text-center">
            <h5>What is the average loan size?</h5>
        </div>

          <br>


          <div class="text-center">
            <h5>$12,000 USD</h5>
          </div>
          

          <br>

          <p>Bitbond focuses on small online retailers on platforms like eBay and Amazon. They usually have annual revenue between $200,000-$300,000. The loans are typically for buying larger quantities of inventory at a better price. It is able to reach loan decisions in an hour, and even in difficult cases, Bitbond does not take more than two days to get back to the borrower with an answer. This is the reason why small online retailers prefer Bitbond to other financing options. When the company started off, the majority of traffic came from the U.S. but the bulk has now shifted to Europe and Africa.</p>
          

          <p>Whether you are looking for a small loan or looking to earn more than what more mainstream banks offer Bitbond is for you. </p>

          <br>
          <div class="text-center">
          <p class='card-text'><a href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=4SRRENHRJE" target="_blank">Click Here to check out Bitbond for yourself</a></p><br>
          </div>
        </div>
        </div>
        </div>
      </div>

      <div class="footer">
        <h5> Have a question or a comment contact us at:</h5>
        <h5><a href="mailto:info@howtocryptocurrencies.com">info@howtocryptocurrencies.com</a></h5>
      </div>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>

