{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'img' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>HowToCryptoCurrencies</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3-center-centered"><font color=#F0FFFF>Mining Your Own Crypto Currency</font></h1>
              <p class="lead"><font color=#F0FFFF>Its not to late to mine your own crypto currencies. In fact it has become even easier. Take a look for yourself</font></p>
            </div>
          </div>

          
          <div class="text-center">
              <a target="_blank" href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=4SRRENHRJE">
                <img src="https://www.bitbond.com/affiliate-program/invest-leaderboard-en.png" class="img-thumbnail"
                     alt="bitbond bitcoin lending" />
              </a>
          </div>
          <br>

          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">HowToCryptoCurrencies</a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="books">Trading Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mining">Mining Crypto</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="charting">Charting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lending">Lending</a>
                </li>
              </ul>
            </div>
          </nav>

        <div class="container">

          <div class='top_card'>
            <div class="card mb-4">
                <div class="card-block">
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/Eqxu_fwrDZM" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <br>
                  <p>Be sure to check out the video above as it packed full of information. Genesis Mining does all of the work for you! No need to figure out how to build your own mining rig or deal with crazy electrical bills from running a computer all day and night. Genesis does all the dirty work for you and allows for a wider range of possibilities than if you were to try to mine on your own. Lots of people say if only I had invested in Bitcoin a few years ago... well you have another chance with other new crypto currencies. </p>



                  <br>
                  <div class="text-center">
                    <a href="https://www.genesis-mining.com/a/2276381" target="blank">
                      <img src="static/img/genesis_mining.png" alt="Get Started Now" class="img-thumbnail">
                    </a>
                  </div>
                  <br>


                  <p>Genesis Mining has been featured in Bloomberg Bueiness, The Economist, CoinDesk and CNBC just to name a few and are regarded as one of the most well respected cloud mining operations in the world. Check out the CNBC interview featuring Marco Streng Genesis Mining's CEO below.</p>
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/DYJsWyCj24k" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                  <br>

                  <p>Want to see it for yourself here is a video from Michael at Box Mining going inside Genesis Mining</p>

                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/2Jqf_wZKFCc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                 
                    <br>
                    <div class="text-center">
                      <a href="https://www.genesis-mining.com/a/2276381" target="blank">
                        <img src="static/img/genesis_mining.png" alt="Get Started Now" class="img-thumbnail">
                      </a>
                    </div>
                    <br>
                  
            </div>
            </div>
            </div>

          </div>
          <div class="text-center">
              <a target="_blank" href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=4SRRENHRJE">
                <img src="https://www.bitbond.com/affiliate-program/invest-leaderboard-en.png" class="img-thumbnail"
                     alt="bitbond bitcoin lending" />
              </a>
          </div>
          <br>

          <div class="footer">
            <h5> Have a question or a comment contact us at:</h5>
            <h5><a href="mailto:info@howtocryptocurrencies.com">info@howtocryptocurrencies.com</a></h5>
          </div>

          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>

